<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:include="student/fragments :: header"></th:block>
</head>
<body>

<nav th:replace="student/fragments :: navbar"></nav>

<div class="container my-5">


  <form method="post" th:object="${student}">
    <table th:replace="student/fragments :: form"></table>

    <div class="float-right">
      <a class="btn btn-danger" th:href="@{|/student/${student.id}}">Cancel</a>
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>


</div>

<div th:replace="student/fragments :: scripts"></div>

</body>
</html>

